<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font awesome fonts  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Bootstrap JS CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <style>
        .details {
            text-align: left;
            padding-right: 6px;
        }
    </style>
    <!-- My CSS link -->
    <link rel="stylesheet" href="/styles.css">

    <!-- Loader CSS link -->
    <link rel="stylesheet" href="/loaderStyle.css">

    <title>🍒Fruitful🍊</title>
</head>

<body style="overflow-y: hidden; text-align: left;">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <!-- Nav Bar start -->
    <div class="MyNavDiv" style="position: static;">
        <h2>Fruit<span>Ful</span></h2>
        <a href="/"><button>Home</button></a>
        <a href="#"><button>Agri-IOT</button></a>
        <a href="/market"><button style="background-color: green;color: white;">Sell/Buy</button></a>
        <a href="/newProduct"><button>Sell Online</button></a>
        <a href="/myProducts"><button>My Products</button></a>
        <% if(name !="Login👤" ) { %>
            <h3>Welcome dear <span style="color: green;">
                    <%=name%>
                </span>
            </h3>
            <% }else{ %>
                <a href="login"><button>Login👤</button></a>
                <% } %>
    </div>
    <!-- Nav Bar End  -->
    <div style="margin: 15px;">
        <p>These are the details of the seller you searched for:</p>

        <div>
            <table>
                <tr>
                    <td class="details">
                        <h6>Product Name </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.ProductName %>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td class="details">
                        <h6>Description </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.Description %>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td class="details">
                        <h6>Cost(perKG)₹ </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.cost %>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td class="details">
                        <h6>Seller Name </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.SellerName %>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td class="details">
                        <h6>Location </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.SellerAddress %>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td class="details">
                        <h6>Phone No. </h6>
                    </td>
                    <td>
                        <h6>:</h6>
                    </td>
                    <td>
                        <h6>
                            <%= sellerData.Mobile %>
                        </h6>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Vanilla tilt -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"
        integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JQuery Link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LoaderJs file Link  -->
    <script src="/loaderAnimation.js"></script>

    <!-- JavaScript link -->
    <script src="/index.js"></script>
</body>

</html>